@import '_settings'

normalize-css()
base()

body, html {
  font-family: 'News Cycle', sans-serif !important;
  height: 100%;
  font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'News Cycle' ,sans-serif;
  font-weight: 300 !important;
}

.dignity {
  font-family: "News Cycle", sans-serif;
  font-weight: 300 !important;
}

i, .material-icons, .fa, .fab, .far, .fas {
  vertical-align: middle;
}
